<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin panel</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/admin_layout.css" />
        <link href="~/lib/wwwroot/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/wwwroot/lib/boostrap/dist/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/admin_layout.css" asp-append-version="true" />
    </environment>
</head>
<body>
 
    <!-- Sidebar Holder -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Timev's restaurant</h3>
                <img src="~/images/small_logo_white.png" class="img-fluid" alt="m logo white" />
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#employeeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Manage Employees
                    </a>
                    <ul class="collapse list-unstyled" id="employeeSubmenu">
                        <li>
                            <a asp-area="Admin" asp-controller="Employees" asp-action="Create">Hire Employee</a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Employees" asp-action="AllEmployees">View all employees</a>
                        </li>

                    </ul>
                </li>
                <li>

                    <a href="#menuSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Menu
                    </a>
                    <ul class="collapse list-unstyled" id="menuSubmenu">
                        <li>
                            <a href="#">Manage Lunch Menu</a>
                        </li>
                        <li>
                            <a asp-page="/Menu/Salats">Manage main menu</a>
                        </li>

                    </ul>
                </li>
                <li>

                    <a href="#mealsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Manage Meals
                    </a>
                    <ul class="collapse list-unstyled" id="mealsSubmenu">
                        <li>
                            <a asp-area="Admin" asp-controller="Storage" asp-action="AddMeal">Add meal</a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Storage" asp-action="AddProduct">Add product</a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Storage" asp-action="AllMeals">View all meals</a>
                        </li>
                    </ul>
                </li>
                <li>

                    <a href="#drinksSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Manage Drinks
                    </a>
                    <ul class="collapse list-unstyled" id="drinksSubmenu">
                        <li>
                            <a asp-area="Admin" asp-controller="Storage" asp-action="AddDrink">Add drink</a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Storage" asp-action="AddIngredient">Add ingredient</a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Storage" asp-action="AllDrinks">View all drinks</a>
                        </li>
                    </ul>
                </li>
                <li class="footer">
                    <footer>
                        <p>&copy; 2018 - Timev's restaurant</p>
                    </footer>
                </li>
            </ul>

            

        </nav>
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <span>Toogle Button</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-align-justify"></i> -->
                    </button>
                    @await Html.PartialAsync("_LoginPartial")
                </div>

            </nav>

            <partial name="_CookieConsentPartial" />

            @RenderBody()

     

        </div>
        </div>
        

    <environment names="Development">
        <script src="~/lib/wwwroot/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/wwwroot/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/wwwroot/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
        <script src="~/js/admin_layout.js" asp-append-version="true"></script>
    </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.3/bootstrap.min.js"
                    asp-fallback-src="~/lib/wwwroot/lib/boostrap/dist/js/boostrap.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/admin_layout.js" asp-append-version="true"></script>
        </environment>


        @RenderSection("Scripts", required: false)
</body>
</html>
