@model IngredientCreationBindingModel
@{
    ViewData["Title"] = "Add Ingredient";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="m-2">Add Ingredient</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <form asp-area="Admin" asp-controller="Storage" asp-action="AddIngredient" method="post" class="form-horizontal">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IsAllergen">Is Allergen</label>
                    @Html.CheckBoxFor(c => c.IsAllergen)
                    <span asp-validation-for="IsAllergen" class="text-danger"></span>
                </div>
                <div class="form-group cancelAndCreate">

                    <input type="submit" value="AddIngredient" class="btn btn-success" />
                    <a asp-area="Admin" asp-controller="Storage" asp-action="AddIngredient" class="btn btn-default">Cancel</a>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}