@model MealBindingModel
@{
    ViewData["Title"] = "Add Meal";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="mb-2 mt-2">Add Meal</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-area="Admin" asp-controller="Storage" asp-action="AddMeal" method="post" class="form-horizontal">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category">Category</label>
                    @Html.DropDownListFor(m => m.Category, new SelectList(new string[] { "Salat", "Appetizer", "Pizza", "Pasta", "Risotto", "Chicken", "Pork", "Beef", "Soup", "Dessert" }), "- Please select a category -", new { @class = "form-control" })
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Products">Products used for the dish:</label>
                    @*<select asp-for="Products" asp-items="@(new SelectList(ViewBag.Products))" class="selectpicker form-control" data-live-search="true" multiple data-selected-text-format="count>3" data-size="5"></select>*@
                    @Html.DropDownListFor(m => m.Products, new SelectList(ViewBag.Products), null, new { @multiple = "multiple", @class = "form-control selectpicker" })
                    <span asp-validation-for="Products" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Descripton</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DishWeight">Dish Weight</label>
                    <input asp-for="DishWeight" class="form-control" />
                    <span asp-validation-for="DishWeight" class="text-danger"></span>
                </div>
                <div class="form-group cancelAndCreate">
                    <div>
                        <input type="submit" value="AddMeal" class="btn btn-success" />
                        <a asp-area="Admin" asp-controller="Storage" asp-action="AddMeal" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>