@model IEnumerable<FoodConciseViewModel>
@{
    ViewData["Title"] = "All Meals";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="m-2">All Meals</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive cancelAndCreate">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Dish Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.DisplayForModel()
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>