@model IEnumerable<FoodConciseViewModel>
@{
    ViewData["Title"] = "Menu";
}

<h2>Menu</h2>

<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>DishWeight</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>