<table>
    <tr>
        <th><a asp-page="/Menu/Salats" class="btn btn-info mr-3">Salats</a></th>
        <th><a asp-page="/Menu/Appetizers" class="btn btn-info mr-3">Appetizers</a></th>
        <th><a asp-page="/Menu/Pizzas" class="btn btn-info mr-3">Pizzas</a></th>
        <th><a asp-page="/Menu/Pastas" class="btn btn-info mr-3">Pastas</a></th>
        <th><a asp-page="/Menu/Risottos" class="btn btn-info mr-3">Risottos</a></th>
        <th><a asp-page="/Menu/Chickens" class="btn btn-info mr-3">Chickens</a></th>
        <th><a asp-page="/Menu/Porks" class="btn btn-info mr-3">Porks</a></th>
        <th><a asp-page="/Menu/Beefs" class="btn btn-info mr-3">Beefs</a></th>
        <th><a asp-page="/Menu/Soups" class="btn btn-info mr-3">Soups</a></th>
        <th><a asp-page="/Menu/Desserts" class="btn btn-info mr-3">Desserts</a></th>
        <th><a asp-page="/Menu/Drinks" class="btn btn-info mr-3">Drinks</a></th>
    </tr>
</table>