<div class="table-responsive mt-2 mb-3 align-middle">
    <table class="table-borderless">
        <tr class="text-center">
            <th class="text-center"><a asp-page="/Menu/Salats" class="btn btn-info ml-3 mr-3 shadow rounded">Salads</a></th>
            <th><a asp-page="/Menu/Appetizers" class="btn btn-info mr-3 shadow rounded">Appetizers</a></th>
            <th><a asp-page="/Menu/Pizzas" class="btn btn-info mr-3 shadow rounded">Pizzas</a></th>
            <th><a asp-page="/Menu/Pastas" class="btn btn-info mr-3 shadow rounded">Pastas</a></th>
            <th><a asp-page="/Menu/Risottos" class="btn btn-info mr-3 shadow rounded">Risottos</a></th>
            <th><a asp-page="/Menu/Chickens" class="btn btn-info mr-3 shadow rounded">Chickens</a></th>
            <th><a asp-page="/Menu/Porks" class="btn btn-info mr-3 shadow rounded">Porks</a></th>
            <th><a asp-page="/Menu/Beefs" class="btn btn-info mr-3 shadow rounded">Beefs</a></th>
            <th><a asp-page="/Menu/Soups" class="btn btn-info mr-3 shadow rounded">Soups</a></th>
            <th><a asp-page="/Menu/Desserts" class="btn btn-info mr-3 shadow rounded">Desserts</a></th>
            <th><a asp-page="/Menu/Drinks" class="btn btn-info shadow rounded">Drinks</a></th>
        </tr>
    </table>
</div>