@model OrderConciseViewModel

<tr>
    <td>@Model.TableNumbers</td>
    <td>@Model.Price</td>
    <td>@Model.TimeOfOrder</td>
    <td>
        <a asp-area="Employee" asp-controller="Orders" asp-action="OrderDetails" asp-route-id="@Model.Id"
           class="btn btn-info">Details</a>
        <partial name="ApproveOrTakeOrderButtonPartial" />
    </td>
</tr>

