@if (User.IsInRole("Waiter"))
{
    <a asp-area="Employee" asp-controller="Orders" asp-action="Approve" asp-route-id="@Model.Id"
       class="btn btn-success">Approve</a>
}
else if (User.IsInRole("Chef"))
{
    <a asp-area="Employee" asp-controller="Orders" asp-action="ChefTakeOrder" asp-route-id="@Model.Id"
       class="btn btn-success">Take</a>
}
else
{
    <a asp-area="Employee" asp-controller="Orders" asp-action="BartenderTakeOrder" asp-route-id="@Model.Id"
       class="btn btn-success">Take</a>
}