
@if (User.IsInRole("Waiter"))
{
    <li class="nav-item active">
        <a asp-area="Employee" asp-controller="Waiter" asp-action="OrdersForApproval" class="nav-link">Manage Orders</a>
    </li>
    <li class="nav-item active">
        <a asp-area="Employee" asp-controller="Waiter" asp-action="FinishedOrders" class="nav-link">Finished Orders</a>
    </li>
}
else if (User.IsInRole("Chef"))
{
    <li class="nav-item active">
        <a asp-area="Employee" asp-controller="Chef" asp-action="OrdersNotBeingCooked" class="nav-link">Manage Orders</a>
    </li>
    <li class="nav-item active">
        <a asp-area="Employee" asp-controller="Chef" asp-action="TakenMealsOrders" class="nav-link">Taken Orders</a>
    </li>
}
else //Bartender
{
    <li class="nav-item active">
        <a asp-area="Employee" asp-controller="Bartender" asp-action="DrinksWithoutBartender" class="nav-link">Manage Orders</a>
    </li>
    <li class="nav-item active">
        <a asp-area="Employee" asp-controller="Bartender" asp-action="TakenDrinksOrders" class="nav-link">Taken Orders</a>
    </li>
}