@{
    ViewData["Title"] = "Index";
}

@*@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        @TempData["message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}*@


