@model List<EmployeeConciseViewModel>
@{
    ViewData["Title"] = "AllEmployees";
}

<h1>All Employees</h1>
<hr />
<table class="table table-striped" id="employeeTable">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Profession</th>
            <th>Email</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>
