@model List<EmployeeConciseViewModel>
@{
    ViewData["Title"] = "AllEmployees";
}

<h1 class="m-2 text-uppercase">All Employees</h1>
<hr />
<div class="table-responsive-sm">
    
        <table class="table table-dark table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" >First name</th>
                    <th scope="col" >Last name</th>
                    <th scope="col" >Profession</th>
                    <th scope="col" >Email</th>
                    <th scope="col" >Phone numnber</th>
                    <th scope="col" >Actions</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel()
            </tbody>
        </table>

</div>

