@model List<EmployeeConciseViewModel>
@{
    ViewData["Title"] = "AllEmployees";
}

<h1>All Employees</h1>
    <hr />
    <table class="table table-striped" id="employeeTable">
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Profession</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>Actions</th>
                </tr>
                @Html.DisplayForModel()

        </table>
